div>.pin{
    width:75px;
    /* height:20px; */
    border-radius: 0px;
    border:1px solid  #c6c6c6;
    border-start-start-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right:0px;
}

 div>select{
    width:90px;
    /* height:20px; */
    border-radius: 0px;
    border:1px solid  #c6c6c6;
    border-right:0px;
    background-color: #efefef;
}
div>input{
    width:70%;
    /* height:27px; */
    border-radius: 0px;
    border:1px solid  #c6c6c6;
}
