.pagesflex{
    display: flex;
    margin-top:4px;
    margin-left:8%;
    width:100%;
}
.auth>p:hover{
    text-decoration: underline;
    font-size: 30px;
}
.searchflex{
    display: flex;
    margin-top:-15px;
    margin-left:5%;
    width:100%;
}
.pages{
margin-right:450px;
}
.pages>span{
    margin-right:6px;
    color: #c6c6c6;
}
.navpages{
    width: 100%;
}
/* @import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap'); */
.Link{
    text-decoration: none;
    font-family:sans-serif;
    font-weight:600;
    color:#393939;
    font-size: 11px;
    margin-right:6px;
}
.loginform{
    margin-top:40px;
    display: flex;
}