.fmain{
    width: 100%;
}

.mdiv{
    display: flex;
}


.main-card--container{
    /* background-color: rgba(250, 212, 158, 0.735); */
    /* width: 90%; */
    height: fit-content;
    text-align: center;
    display: flex;
    columns: 4fr;
    flex-wrap: wrap;
    /* border: 1px solid green; */
}
.recommended{
    text-align: center;  

}
.pdes{
    border: 1ps solid grey;
}
.card-container{
    /* border: 1px solid green; */
    width: 23%;
    margin: 10px auto;
    /* box-shadow: 4px 10px lightgrey; */
    

}
.card-container:hover{
    box-shadow: 2px 2px 10px rgba(48, 47, 47, 0.673);
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.star{
    display: flex;
    
}

.card{
    /* border: 1px solid red; */
    cursor: pointer;
}

.card-media{ 
   
    height: 240px;
    width: 236px;
    border-radius: 10px;
    

}
.order{
    display: flex;
    justify-content: space-around;
}
.card-read{

    border: 1px solid grey;
    border-radius: 5px; 
    padding: 5px;
}

.orderImg{
    border-radius: 6px;
}


